:root {
	--White: hsl(0, 0%, 100%);
	--Light-Grey: hsl(217, 12%, 63%);
	--Medium-Grey: hsl(216, 12%, 54%);
	--Dark-Blue: hsl(213, 19%, 18%);
	--Very-Dark-Blue: hsl(216, 12%, 8%);
}

@font-face {
	font-family: bold;
	src: url(../../assets/Overpass/static/Overpass-Bold.ttf);
}

@font-face {
	font-family: regular;
	src: url(../../assets/Overpass/static/Overpass-Regular.ttf);
}

@font-face {
	font-family: light;
	src: url(../../assets/Overpass/static/Overpass-Light.ttf);
}

body {
	height: 100vh;
	background-color: var(--Very-Dark-Blue);
}

main {
	display: flex;
	justify-content: center;
}

.content-box {
	max-width: 400px;
	min-width: 200px;
	height: fit-content;
	border-radius: 7px;
	background-color: var(--Dark-Blue);
	margin: 160px auto;
}

.svg-background {
	background-color: var(--Light-Grey);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0px -25px 30px;
}

.content {
	padding-left: 20px;
	padding-right: 30px;
}

.content-title {
	color: white;
	font-family: regular;
	font-size: 18px;
	margin-top: 50px;
}

.content-text {
	font-family: light;
	font-size: 14px;
	color: var(--Light-Grey);
	margin-top: 10px;
	max-width: 300px;
}